appdirs>=1.4.3
pyzmq>=23.2.0
termcolor
tqdm
ipfs_node>=0.1.8
eciespy
brenthy_tools_beta
walytis_beta_api>=2.4.1

# comment out the following before running `python -m build`
#git+https://github.com/emendir/IPFS-Toolkit-Python.git@65517e0#egg=ipfs_toolkit
