# WARNING:
# this is for Brenthy, NOT for brenthy_tools_beta
# For brenthy_tools_beta, see ./brenthy_tools_beta/requirements.txt

appdirs>=1.4.3
pyzmq>=23.2.0
termcolor
tqdm
eciespy
ipfs_toolkit>=0.6.0rc2
ipfs_tk
ipfs_node>=0.1.1
pathspec

# dev tools
setuptools>=45.2.0
pytest
cryptem>=0.1.1
environs
